.card2{
    display: flex;
    flex-direction: row;
    height: 60vh;
}
.card-body2{
    width:20vw;
    height:38vh;
    margin-top: -15vh;
    padding: 1vh; 
    color: black;
    border-radius: 10px;
    border: 1px solid lightgrey;
    background-color: white;
    box-shadow: 5px 5px 5px rgba(43, 43, 43, 0.315);
    cursor: pointer;

}
.card-body2 img{
    width: 20vw;
    height: 25vh;
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px;
}